<div class="image-lightbox-viewer" *ngIf="activeImage !== null" [mouseWheelHzScroll]="thumbNailDiv" [scrollStep]="40" contextMenuProtection>
  <div class="top-left">
    <div class="action-panel">
        <div class="action-wrapper" (click)="this.toggleLikeActiveImage()">
            <i class="material-icons action-icon like-icon" [class.liked]="activeImage?.isUserLike">favorite_border</i>
            <span class="action-text" [class.liked]="activeImage?.isUserLike">{{activeImage?.likeCount}}</span>
        </div>
        <div class="action-wrapper">
            <i class="material-icons action-icon">share</i>
        </div>
        <div class="action-wrapper">
              <a class="contact" routerLink="/contact">
                <i class="material-icons action-icon">perm_contact_calendar</i>
                <span class="action-text">Хочу так же!</span>
              </a>
        </div>
    </div>
  </div>
  <div class="top-right">
    <div class="close-btn" (click)="closeViewer()">
        <i class="material-icons">close</i>
    </div>
  </div>
  <app-spinner-container [isLoading]="activeImage === undefined">
    <div *ngIf="activeImage" class="active-image" [ngStyle]="getActiveImageStyle()"></div>
  </app-spinner-container>
  <div class="img-nav-link prev" (click)="showPrevImage()" [hidden]="!isPrevButtonVisible">
    <div class="nav-icon"></div>
  </div>
  <div class="img-nav-link next" (click)="showNextImage()" [hidden]="!isNextButtonVisible">
    <div class="nav-icon"></div>
  </div>
  <div class="thumbnails-container">
    <div #thumbNailDiv class="thumbnail-wrapper">
      <div *ngFor="let thumb of this.images" class="thumb-item" [class.active]="thumb.id === this.activeImage?.id" (click)="updateActiveImage(thumb)">
          <div class="thumb-item-bg" [ngStyle]="getThumbImageStyle(thumb)"></div>
          <div class="thumb-item-fader"></div>
      </div>
    </div>
  </div>
</div>
