.booking-day-container{
    position: relative;
    height: 100%;
    width: 100%;

    .booking-day-form-wrapper{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto auto;

        width: 600px; /*TEMP*/
        height: 540px;

        border: solid 1px #cbcbcb;
        border-radius: 10px;
        padding: 10px;
        background-color: #ffffff;

        .form-row{
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            
            &:not(:last-child){
                margin-bottom: 10px;
            }

            .form-col{
                width: 50%;
                float: left;

                padding: 0 5px;

                mat-form-field{
                    margin-bottom: 10px;
                }
            }

            .header{
                margin: 5px auto;
            }

            .header-text{
                font-style: italic;
                font-family: Open sans-serif;
                font-size: 18px;
            }

            .phone-number::-webkit-outer-spin-button,
            .phone-number::-webkit-inner-spin-button {
                display: none;
            }


            .comment{
                resize: none;
            }

            .submit-btn{
                width: 100%;
                border: 1px solid #51acae;
                outline: none;
                color: #51acae;
            }
        }
    }
}