<div class="booking-day-container">
  <div class="booking-day-form-wrapper">
    <div class="form-el">
        <p>Write me a message, I am always happy to answer any questions you might have.</p>
    </div>
    <div class="form-el">
      <label for="city">Город</label>
      <select class="cust-input" id="city" required aria-placeholder="" title=""> <!-- custom-select d-block -->
        <option value hidden selected="selected">Выберите город</option>
        <option value="1">Минск</option>
        <option value="2">Могилёв</option>
        <option value="0">Другой</option>
      </select>
    </div>
  </div>
</div>
