<div class="contact-container">
  <div class="left-panel">
    <div class="image-wrapper">
      <img src="/assets/images/contact-avatar.jpg">
    </div>
  </div>
  <div class="right-panel">
    <div class="header">
      <h3>Контакты</h3>
    </div>
    <div class="text-block">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <div class="contact-block">
            <p>Свяжитесь со мной:</p>
            <div class="contact-text">
              <span class="title">Телефон:&nbsp;</span>
              <!-- <i class="contact-icon fas fa-phone-volume"></i> -->
              <span><a href="tel:+375290000000">+375290000000</a></span>
            </div>
            <div class="contact-text">
              <span class="title">Почта:&nbsp;</span>
              <!-- <i class="contact-icon far fa-envelope"></i> -->
              <span><a href="mailto:test@gmail.com">test@gmail.com</a></span>
            </div>
        </div>

        <div class="contact-links">
            <a class="contact-icon"><i class="fab fa-vk"></i></a>
            <a class="contact-icon"><i class="fab fa-facebook"></i></a>
            <a class="contact-icon"><i class="fab fa-skype"></i></a>
            <a class="contact-icon"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
  </div>
</div>
