.contact-container{
    height: 100%;
    padding: 60px 65px;

    .left-panel{
        width: 33%;
        height: 100%;
        float: left;

        .image-wrapper{
            overflow: hidden;
            height: 100%;
            float: right;
            padding: 0 20px;

            img{
               height: 100%; 
            }
        }
    }
    .right-panel{
        width: 67%;
        height: 100%;
        float: left;

        .header{
            text-align: center;
            margin-bottom: 20px;
        }

        .text-block{
            padding: 0 50px;

            .contact-block{
                margin-top: 50px;

                .contact-text{
                    a{
                        text-decoration: none;
                        color: initial;
                    }

                    .title{
                        font-weight: bold;
                    }
                }
            }

            .contact-links{
                width: 100%;
                text-align: center;
                margin-top: 50px;

                .links-wrapper{
                    display: inline-block;

                    .contact-icon{
                        width: 59.5px;
                        height: 57px;
                        border: 1px solid black;
                        margin: 0 10px;
                        font: normal normal normal 14px/1 FontAwesome;
                        text-rendering: auto;
                        border-radius: 10px;
                        padding: 10px;
                        cursor: pointer;
                        float: left;

                        -webkit-transition: .2s;
                        -moz-transition: .2s;
                        -o-transition: .2s;
                        transition: .2s;
    
                        i{
                            font-size: 2.5em;
                            font-style: normal;

                            &.fa-telegram{
                                font-size: 2.7em;
                            }
                        }
    
                        &:hover{
                            -webkit-transform: scale(1.2);
                            -moz-transform: scale(1.2);
                            -ms-transform: scale(1.2);
                            -o-transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}