header{
    height: 10%;
    position: relative;

    .logo{
        text-align: center;
        height: 100%;
        padding-bottom: 5px;

        .logo-item{
            height: 100%;
            display: inline-block;
            padding: 5px 10px; //was 10-10
            /* border: solid 1px gray; */
            overflow: hidden;

            /* h1{
                line-height: unset;
            } */
            img{
                height: 100%;
            }
        }
    }
}