$imagePlateBorderRadius: 14px;
$fadeAndScaleTransitionTime: 0.2s;
.image-plate{
    width: 100%;
    height: auto;
    display: inline-block;

    border: 3.5px solid transparent; /*Add border for images*/ /*Оставляем или 3.5px + закругление, или 1px и без закругления*/

    .plate-wrapper{
        position: relative;
        border-radius: $imagePlateBorderRadius; /*Оставляем или 3.5px + закругление, или 1px и без закругления*/
        overflow: hidden;
        /* cursor: pointer; */
        /*Fix scale + overflow + border-radius on Chrome*/
        -webkit-transform: translate(0px,0px);
        -moz-transform: translate(0px,0px);
        -ms-transform: translate(0px,0px);
        -o-transform: translate(0px,0px);

        &:hover{
            .image-holder{
                -webkit-transform: scale(1.05);
                -moz-transform: scale(1.05);
                -ms-transform: scale(1.05);
                -o-transform: scale(1.05);
            }
            .image-fader{
                background-color: rgba(0,0,0,0.2);
            }
            .image-title-actions{
                opacity: 1;
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
            }
        }

        .image-holder{
            background-size: cover;
            background-position: center;
            transition: all $fadeAndScaleTransitionTime ease-in-out;

            img{
                width: 100%;
                visibility: hidden;
            }
        }

        .image-fader{
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba(0,0,0,0);
            -webkit-transition: all $fadeAndScaleTransitionTime ease;
            transition: all $fadeAndScaleTransitionTime ease;
            z-index: 100;
        }

        .image-title-actions{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-60%);
            -moz-transform: translate(-50%,-60%);
            -ms-transform: translate(-50%,-60%);
            -o-transform: translate(-50%,-60%);
            opacity: 0;
            z-index: 101;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            width: 100%;
            text-align: center;

            /* background-color: white; */
            .action-wrapper{
                display: inline-block;
                position: relative;
                text-shadow: 0px 2px 4px rgba(0,0,0,0.4);
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                vertical-align: middle;
                padding: 0px 5px;
                margin: 0 15px;
                border-radius: 6px;
                user-select: none;
                /* background-color: rgba(0,0,0,0.2); */
                /* border: solid 1px #ffffff; */

                background-color: rgba(0,0,0,0.5); /*hover*/

                .action-icon{
                    font-size: 46px;
                    color: #ffffff8a;
                    cursor: pointer;

                    &:hover{
                        color: #ffffff;
                    }
                }

                .like-icon{
                    &.liked{
                        color: #ff4c4c;
                    }
                }

                .like-count{
                    display: block;
                    font-size: 20px;
                    font-weight: 600;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -15px;
                    opacity: 0;
                    color: #ff4c4c;

                    &.active{
                        opacity: 1;
                    }
                }
            }
        }
    }
}