<div class="cards-container">
  <div class="card" *ngFor="let card of imageCards">
    <a routerLink="{{card.routerLinkUrl}}">
      <div class="title-container">
        <div class="title">
          <h4>
            <span>{{card.name }}</span></h4>
        </div>
        <div class="descr">
          {{card.description}}
        </div>
      </div>
      <div class="cover-fader"></div>
      <div class="bg-cover" [ngStyle]="{ 'background-image' : 'url('+ card.coverImagePath +')'}"></div>
    </a>
  </div>
</div>