<div class="contact-me-container">
  <div class="left-contact-panel">
    <div class="header">
      <h1>Контакты</h1>
    </div>
    <div class="photo-header">
      <img src="/assets/images/avatar-placeholder.jpg">
    </div>
    <div class="header-text">
      <p>Если вам понравились мои фотографии, и вы хотели бы что бы я создала для вас красивую историю, свяжитесь со мной любым удобным способом, чтобы обсудить вашу фотосессию!</p>
      <p>Я всегда рада ответить на любые ваши вопросы и помочь определиться.</p>
    </div>
    <div class="contact-info">
      <div>
        <div class="contact-label">Телефон: </div><a href="tel:+375290000000">+375290000000</a>
      </div>
      <div>
        <div class="contact-label">Email: </div><a href="mailto:test@gmail.com">test@gmail.com</a>
      </div>
    </div>
    <div class="social-links">
      <a class="social-icon"></a>
      <a class="social-icon"></a>
      <a class="social-icon"></a>
      <a class="social-icon"></a>
    </div>
  </div>
  <div class="right-contact-panel">
    <div class="form-wrapper">
      <form [formGroup]="contactMeForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <h3 class="header">Позвольте мне связаться с вами!</h3>
          </div>
          <div class="form-row">
            <p class="header-text">Напишите мне сообщение, оставив свои контактные данные, и я всегда буду рад связаться с вами и ответить на интересующие вас вопросы!</p>
          </div>
          <div class="form-row">
            <div class="form-col">
              <mat-form-field>
                <input formControlName="name" tabindex="1" matInput placeholder="Имя" autocomplete="off" required>
                <mat-error *ngIf="name.hasError('required')">Укажите Ваше имя</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="phoneNumber" matInput tabindex="3" placeholder="Номер телефона" class="phone-number" type="number" autocomplete="off" required>
                <mat-error *ngIf="phoneNumber.invalid && phoneNumber.hasError('required')">Укажите номер телефона, чтобы я смог связаться с вами</mat-error>
                <span matPrefix>+&nbsp;</span>
              </mat-form-field>
            </div>
      
            <div class="form-col">
                <mat-form-field>
                    <input formControlName="city" tabindex="2" matInput placeholder="Город" autocomplete="off">
                    <mat-hint>...в котором вы бы хотели съёмку</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="email" tabindex="4" matInput placeholder="Email">
                    <mat-error *ngIf="email.invalid && email.hasError('email')">Неверный формат email-адреса</mat-error>
                </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Сообщение</mat-label>
              <textarea formControlName="comment" maxlength="1000" tabindex="5" class="comment" matInput rows="5"></textarea>
              <mat-error *ngIf="comment.invalid && comment.hasError('maxLength')">Превышено максимальное количество символом (1000)</mat-error>
            </mat-form-field>
      
          </div>
          <div class="form-row">
              <button [disabled]="!contactMeForm.valid" tabindex="5" mat-button class="submit-btn">Отправить</button>
          </div>
      </form>      
    </div>
  </div>
</div>
