.contact-me-container{
    display: flex;
    flex-direction: row;
    min-height: 100%;

    .left-contact-panel{
        width: 33%;
        background-image: url("/assets/images/contact-back.png");
        background-size: cover;
        min-width: 230px;

        color: #fff;
        padding: 0 20px;
        
        .header{
            margin-top: 50px;
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #fff;
        }

        .header-text{
            font-size: 18px;
            font-style: italic;
            padding: 10px 20px;
        }

        .photo-header{
            border: 5px solid #ffffff;
            margin: 20px;
            display: inline-block;
            
            img{
                width: 150px;
                height: 150px;
            }
        }

        .social-links{
            width: 100%;
            text-align: center;
            margin-top: 50px;

            .links-wrapper{
                display: inline-block;

                .social-icon{
                    width: 59.5px;
                    height: 57px;
                    margin: 0 10px;
                    font: normal normal normal 14px/1 FontAwesome;
                    text-rendering: auto;
                    border-radius: 10px;
                    padding: 10px;
                    cursor: pointer;
                    float: left;

                    -webkit-transition: .2s;
                    -moz-transition: .2s;
                    -o-transition: .2s;
                    transition: .2s;
    
                    i{
                        font-size: 2.5em;
                        font-style: normal;
    
                        &.fa-telegram{
                            font-size: 2.7em;
                        }
                    }
    
                    &:hover{
                        -webkit-transform: scale(1.2);
                        -moz-transform: scale(1.2);
                        -ms-transform: scale(1.2);
                        -o-transform: scale(1.2);
                    }
                }
            }
        }

        .contact-info{
            padding: 20px 20px;
            font-weight: bold;

            div.contact-label{
                display: inline-block;
                margin-right: 10px;
            }
            
            a {
                color: #fff;
                text-decoration: none;
                display: inline-block;
            }
        }
    }

    .right-contact-panel{
        width: 67%;
        min-width: 340px;
        border: solid 1px #cbcbcb;
        padding: 10px;
        background-color: #ffffff;

        .form-wrapper{
            max-width: 550px;
            border: 1px solid #064877;
            padding: 40px;
            border-radius: 10px;
            margin: auto auto;
            transform: translateY(-50%);
            width: 100%;
            top: 50%;
            position: relative;

            .form-row{
                width: 100%;
                margin-right: 0;
                margin-left: 0;
                
                &:not(:last-child){
                    margin-bottom: 10px;
                }
    
                .form-col{
                    width: 50%;
                    float: left;
    
                    padding: 0 5px;
    
                    mat-form-field{
                        margin-bottom: 10px;
                    }
                }
    
                .header{
                    margin: 5px auto;
                }
    
                .header-text{
                    font-style: italic;
                    font-family: Open sans-serif;
                    font-size: 18px;
                }
    
                .phone-number::-webkit-outer-spin-button,
                .phone-number::-webkit-inner-spin-button {
                    display: none;
                }
    
    
                .comment{
                    resize: none;
                }
    
                .submit-btn{
                    width: 100%;
                    height: 38px;
                    border: 1px solid #064877;
                    text-transform: uppercase;
                    font-weight: bold;
                    outline: none;
                    color: #064877;
    
                    &[disabled]{
                        border: 1px solid #cdcdcd;
                        color: #cdcdcd;
                    }
                }
    
                .submit-result-message{
                    height: 38px;
                    width: 100%;
                    text-align: center;
                    color: #51acae;
                    font-weight: bold;
    
                    &.error{
                        color: red;
                    }
                }
            }
        }

        
    }
}

@media (max-width: 1200px){
    .contact-me-container{
        .right-contact-panel{
            .form-wrapper{
                min-height: 100%;
                top: 0;
                transform: translateY(0%)
            }
        }
    }
}

@media (max-width: 800px){
    
    .contact-me-container{
        .right-contact-panel{
            .form-wrapper{
                .form-row{
                    .form-col{
                        width: 100%;
                    }
                }
            }
        }
    }
}