<div class="contact-me-container">
  <div class="left-contact-panel">
    <div class="header">
      <h1>Контакты</h1>
    </div>
    <div class="photo-header">
      <img src="/assets/images/avatar-placeholder.jpg">
    </div>
    <div class="header-text">
      <p>Если вам понравились мои фотографии, и вы хотели бы что бы я создала для вас красивую историю, свяжитесь со мной любым удобным способом, чтобы обсудить вашу фотосессию!</p>
      <p>Я всегда рада ответить на любые ваши вопросы и помочь определиться.</p>
    </div>
    <div class="contact-info">
      <div>
        <div class="contact-label">Телефон: </div><a href="tel:+375290000000">+375290000000</a>
      </div>
      <div>
        <div class="contact-label">Email: </div><a href="mailto:test@gmail.com">test@gmail.com</a>
      </div>
    </div>
    <div class="social-links">
      <a class="social-icon"></a>
      <a class="social-icon"></a>
      <a class="social-icon"></a>
      <a class="social-icon"></a>
    </div>
  </div>
  <div class="right-contact-panel">
    <div class="form-wrapper">
        <div class="form-row">
            <h3 class="header">Позвольте мне связаться с вами!</h3>
          </div>
          <div class="form-row">
            <p class="header-text">Напишите мне сообщение, оставив свои контактные данные, и я всегда буду рад связаться с вами и ответить на интересующие вас вопросы!</p>
          </div>
          <div class="form-row">
            <div class="form-col">
              <mat-form-field>
                <input tabindex="1" matInput placeholder="Имя" autocomplete="off" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput tabindex="3" placeholder="Номер телефона" class="phone-number" type="number" autocomplete="off" required>
                <span matPrefix>+&nbsp;</span>
              </mat-form-field>
            </div>
      
            <div class="form-col">
                <mat-form-field>
                    <input tabindex="2" matInput placeholder="Город" autocomplete="off">
                    <mat-hint>...в котором вы бы хотели съёмку</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input tabindex="4" matInput placeholder="Email">
                </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Сообщение</mat-label>
              <textarea tabindex="5" class="comment" matInput rows="5"></textarea>
            </mat-form-field>
      
          </div>
          <div class="form-row">
              <button tabindex="5" mat-button class="submit-btn">Отправить</button>
          </div>
    </div>
  </div>
</div>
