<div class="services-container">
  <div class="services-wrapper">
    <!--TODO. Get collection from server-->
    <div class="service-item" *ngFor="let priceItem of priceItems">
        <div class="top-part">
          <div class="top-part-content">
              <div class="pp-price-from-w">
                  <div class="pp-price-from">{{priceItem.currencySymbol}}{{priceItem.price}}</div>
                  <div class="pp-price-label">цены от</div>
              </div>
              <h3 class="pp-name">{{priceItem.name}}</h3>
              <div class="square-diamond"></div>
          </div>
          <div class="pp-desc">
            <p>{{priceItem.description}}</p>
          </div>
        </div>
        <div class="bottom-part" *appIfNotEmpty="priceItem.packages">
            <h4 class="packages-label">Предложения:</h4>
            <div class="pp-packages" *ngFor="let pricePackage of priceItem.packages">
              <div class="pp-package-w">
                <div class="pp-package-quick-desc">
                  <div class="pp-package-price">{{pricePackage.currencySymbol}}{{pricePackage.price}}</div>
                  <div class="pp-package-label">
                    <h5 class="pp-package-name">{{pricePackage.name}}</h5>
                  </div>
                </div>
                <div class="pp-package-quick-desc-content">{{pricePackage.description}}</div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
