<div class="services-container" mouseWheelHzScroll>
  <div class="services-wrapper">
    <!--TODO. Get collection from server and render in foreach-->
      <div class="service-item">
        <div class="top-part">
          <div class="top-part-content">
              <div class="pp-price-from-w">
                  <div class="pp-price-from">$100</div>
                  <div class="pp-price-label">цены от</div>
              </div>
              <h3 class="pp-name">Свадьба</h3>
              <div class="square-diamond"></div>
          </div>
        </div>
        <div class="bottom-part">
            <div class="pp-desc">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <h4 class="packages-label">Предложения:</h4>
            <div class="pp-packages">
              <div class="pp-package-w">
                <div class="pp-package-quick-desc">
                  <div class="pp-package-price">$100</div>
                  <div class="pp-package-label">
                    <h5 class="pp-package-name">До 4 часов</h5>
                  </div>
                </div>
                <div class="pp-package-quick-desc-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
              </div>
            </div>
            <div class="pp-packages">
              <div class="pp-package-w">
                <div class="pp-package-quick-desc">
                  <div class="pp-package-price">$200</div>
                  <div class="pp-package-label">
                    <h5 class="pp-package-name">До 8 часов</h5>
                  </div>
                </div>
                <div class="pp-package-quick-desc-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
              </div>
            </div>
        </div>
      </div>
<!-- ====== TEMP DATA  ======== -->
<div class="service-item">
    <div class="top-part">
      <div class="top-part-content">
          <div class="pp-price-from-w">
              <div class="pp-price-from">$50</div>
              <div class="pp-price-label">цены от</div>
          </div>
          <h3 class="pp-name">День рождения</h3>
          <div class="square-diamond"></div>
      </div>
    </div>
    <div class="bottom-part">
        <div class="pp-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <h4 class="packages-label">Предложения:</h4>
        <div class="pp-packages">
          <div class="pp-package-w">
            <div class="pp-package-quick-desc">
              <div class="pp-package-price">$50</div>
              <div class="pp-package-label">
                <h5 class="pp-package-name">До 2 часов</h5>
              </div>
            </div>
            <div class="pp-package-quick-desc-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
          </div>
        </div>
        <div class="pp-packages">
          <div class="pp-package-w">
            <div class="pp-package-quick-desc">
              <div class="pp-package-price">$85</div>
              <div class="pp-package-label">
                <h5 class="pp-package-name">До 4 часов</h5>
              </div>
            </div>
            <div class="pp-package-quick-desc-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
          </div>
        </div>
    </div>
  </div>
  <div class="service-item">
      <div class="top-part">
        <div class="top-part-content">
            <div class="pp-price-from-w">
                <div class="pp-price-from">$150</div>
                <div class="pp-price-label">цены от</div>
            </div>
            <h3 class="pp-name">Love story</h3>
            <div class="square-diamond"></div>
        </div>
      </div>
      <div class="bottom-part">
          <div class="pp-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <h4 class="packages-label">Предложения:</h4>
          <div class="pp-packages">
            <div class="pp-package-w">
              <div class="pp-package-quick-desc">
                <div class="pp-package-price">$150</div>
                <div class="pp-package-label">
                  <h5 class="pp-package-name">1 час на улице</h5>
                </div>
              </div>
              <div class="pp-package-quick-desc-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
            </div>
          </div>
          <div class="pp-packages">
            <div class="pp-package-w">
              <div class="pp-package-quick-desc">
                <div class="pp-package-price">$200</div>
                <div class="pp-package-label">
                  <h5 class="pp-package-name">1 час в студии</h5>
                </div>
              </div>
              <div class="pp-package-quick-desc-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
            </div>
          </div>
      </div>
    </div>
    <div class="service-item">
        <div class="top-part">
          <div class="top-part-content">
              <div class="pp-price-from-w">
                  <div class="pp-price-from">$50</div>
                  <div class="pp-price-label">цены от</div>
              </div>
              <h3 class="pp-name">Съёмка новорождённых</h3>
              <div class="square-diamond"></div>
          </div>
        </div>
        <div class="bottom-part">
            <div class="pp-desc">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <h4 class="packages-label">Предложения:</h4>
            <div class="pp-packages">
              <div class="pp-package-w">
                <div class="pp-package-quick-desc">
                  <div class="pp-package-price">$50</div>
                  <div class="pp-package-label">
                    <h5 class="pp-package-name">1 час на улице</h5>
                  </div>
                </div>
                <div class="pp-package-quick-desc-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
              </div>
            </div>
            <div class="pp-packages">
              <div class="pp-package-w">
                <div class="pp-package-quick-desc">
                  <div class="pp-package-price">$80</div>
                  <div class="pp-package-label">
                    <h5 class="pp-package-name">1 час в студии</h5>
                  </div>
                </div>
                <div class="pp-package-quick-desc-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
              </div>
            </div>
        </div>
      </div>
      <div class="service-item">
          <div class="top-part">
            <div class="top-part-content">
                <div class="pp-price-from-w">
                    <div class="pp-price-from">$100</div>
                    <div class="pp-price-label">цены от</div>
                </div>
                <h3 class="pp-name">Рекламная съёмка</h3>
                <div class="square-diamond"></div>
            </div>
          </div>
          <div class="bottom-part">
              <div class="pp-desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <h4 class="packages-label">Предложения:</h4>
              <div class="pp-packages">
                <div class="pp-package-w">
                  <div class="pp-package-quick-desc">
                    <div class="pp-package-price">$100</div>
                    <div class="pp-package-label">
                      <h5 class="pp-package-name">До 2 часов</h5>
                    </div>
                  </div>
                  <div class="pp-package-quick-desc-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                </div>
              </div>
              <div class="pp-packages">
                <div class="pp-package-w">
                  <div class="pp-package-quick-desc">
                    <div class="pp-package-price">$200</div>
                    <div class="pp-package-label">
                      <h5 class="pp-package-name">До 4 часов</h5>
                    </div>
                  </div>
                  <div class="pp-package-quick-desc-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                </div>
              </div>
          </div>
        </div>
  </div>
</div>
