/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

body{
    margin: 0 0px;
    background-color: #f7f7f7;

    header{
        height: 10%;
        /* border: solid 1px rgb(236, 162, 162); */

        .logo{
            text-align: center;
            height: 100%;

            .logo-item{
                height: 100%;
                display: inline-block;
                padding: 10px 10px;
                border: solid 1px gray;

                h1{
                    line-height: unset;
                }
            }
        }
    }

    div.content{
        height: 85%;
        overflow: auto;
    }

    footer{
        height: 5%;
        /* border: solid 1px rgb(179, 248, 199); */
    }
}

.fullHeight{
    height: 100%;
}

.fullWidth{
    widows: 100%;
}