/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

body{
    margin: 0 0px;
    background-color: #f7f7f7;
}

.fullHeight{
    height: 100%;
}

.fullWidth{
    width: 100%;
}

/*Overide some angular material controls styles*/
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$materialMainColor: red;

.mat-form-field{
    width: 100%;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $materialMainColor;
}
.mat-form-field.mat-focused .mat-input-element{
    caret-color: $materialMainColor;
}
.mat-form-field.mat-focused .mat-form-field-label{
    color: $materialMainColor;
}

.mat-form-field.mat-focused .mat-form-field-required-marker{
    color: $materialMainColor;
}
