<footer>
    <div class="social-icons">
      <div class="social-icons-wrapper">
          <div class="s-icon instagramm">
              <a href="#">
                <img src="./assets/icons/Instagram.png">
              </a>
          </div>
          <div class="s-icon facebook">
              <a href="#">
                <img src="./assets/icons/facebook.png">
              </a>
            </div>
            <div class="s-icon skype">
                <a href="#">
                  <img src="./assets/icons/skype.png">
                </a>
            </div>
            <div class="s-icon twitter">
                  <a href="#">
                    <img src="./assets/icons/twitter.png">
                  </a>
            </div>
      </div>
    </div>
  </footer>