footer{
    height: 5%;

    .social-icons{
        height: 100%;
        width: 400px;
        margin: 0 auto;

        position: relative;
        overflow: hidden;

        .social-icons-wrapper{
            $iconSize: 26px;
            $iconsCount: 4;
            $iconMargin: 10px;

            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            width: ($iconSize * $iconsCount) + ($iconMargin * 2 * $iconsCount);
            margin-top: -($iconSize / 2);
            margin-left: auto;
            margin-right: auto;

            .s-icon {
                float: left;
                margin: 0 $iconMargin;
                user-select: none;

                a{
                    &:hover{

                        i.fab{
                            -webkit-transform: translateY(-3px) rotate(360deg) scale(1.2);
                            -moz-transform: translateY(-3px) rotate(360deg) scale(1.2);
                            -ms-transform: translateY(-3px) rotate(360deg) scale(1.2);
                            -o-transform: translateY(-3px) rotate(360deg) scale(1.2);
                        }
                    }

                    i.fab{
                        transition: all 0.6s ease;

                        width: $iconSize;
                        height: $iconSize;
                    }

                    i.fab{
                        text-align: center;
                        vertical-align: middle;
                        border: solid 1px black;
                        border-radius: 13px;
                        font-size: 16px;
                        padding-top: 4px;

                        &.fa-vk{
                            border-color: #4A76A8;
                            color: #4A76A8;
                            padding-top: 4.5px;
                        }
                        &.fa-facebook{
                            border-color: #3E5C9A;
                            color: #3E5C9A;
                        }
                        &.fa-instagram{
                            border-color: #BD30A4;
                            color: #BD30A4;
                        }
                        &.fa-telegram-plane{
                            border-color: #32AADF;
                            color: #32AADF;
                            padding-right: 2px;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }
}