<footer>
    <div class="social-icons">
      <div class="social-icons-wrapper">
          <div class="s-icon instagramm">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
          </div>
          <div class="s-icon facebook">
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </div>
            <div class="s-icon skype">
                <a href="#">
                  <i class="fab fa-vk"></i>
                </a>
            </div>
            <div class="s-icon twitter">
                  <a href="#">
                    <i class="fab fa-telegram-plane"></i>
                  </a>
            </div>
      </div>
    </div>
  </footer>