<app-inner-nav *ngIf="section" [navLinks]="section.navLinks"></app-inner-nav>

<div class="section-content-wrapper">
        <ng-container *ngIf="section">
        <div class="image-plate-container">

            <!--Первый вариант. Просто через IMG вставляем -->
            <!-- <img *ngFor="let imagePlate of section.imagePlates" [src]="imagePlate.thumbPath"> -->

            <!-- Второй вариант, через Backgroung image, чтобы можно было сентрировать изображение -->
            <div class="image-plate" *ngFor="let imagePlate of section.imagePlates">
                <div class="plate-wrapper">
                    <div class="image-fader"></div>
                    <div class="image-title-actions">
                        <div class="action-wrapper">
                            <i class="material-icons action-icon">zoom_in</i>
                            <!-- <span class="action-title">Увеличить</span> --> <!--TODO. Поменять разметку, чтобы наведение лучше работало-->
                        </div>
                        <!-- <div class="action-wrapper">
                            <i class="material-icons action-icon">perm_contact_calendar</i>
                        </div> -->
                    </div>
                    <div class="image-holder" [ngStyle]="{ 'background-image' : 'url('+ imagePlate.thumbPath +')'}">
                            <img [src]="imagePlate.thumbPath">
                    </div>
                </div>
            </div>
        </div>
        </ng-container>
        <app-loading-spinner *ngIf="!section"></app-loading-spinner>
</div>